html, 
body,
.body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden; /* Evita rolagem horizontal, se necessário */
    background-color: rgb(255, 255, 255);
    position: relative; /* Define o corpo como relativo para que os itens sejam posicionados em relação a ele */
    scroll-behavior: smooth;
}

.fundo-cabecalho {
    background: url('/abas/Componentes/img/peak2.0.png') no-repeat center center;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o contêiner */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Organiza os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: 100vw; /* Garante que o contêiner preencha a largura da viewport */
    height: 130vh; /* Ajusta a altura do contêiner para preencher a tela e mais */
    z-index: 0; /* Certifique-se de que o cabeçalho tenha um z-index menor */
    margin-top: -50%;
    transform: scaleY(0.3);  /* Achata a imagem verticalmente */
}

.cabecalho {
    position: relative; /* Posiciona o SVG em relação ao contêiner pai */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Organiza os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    z-index: 1000; /* Garante que o svg-container fique na frente do cabeçalho */
    top: 3%;    
    width: 100vw; /* Garante que o contêiner preencha a largura da viewport */
    height: 50vh; /* Ajusta a altura do contêiner para preencher a tela e mais */
    letter-spacing: 0.25em;

}

.nome-categoria {
    position: absolute;
    top: 0%; /* Ajusta a distância do topo */
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente o texto */
    color: black;
    font-size: 3em; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; /* Garante que o texto esteja centralizado dentro do próprio contêiner */
}

.Logo {
    position: absolute; /* Posiciona o logo em relação ao contêiner pai */
    top: -2%; /* Distância do topo */
    right: 9%; /* Distância da direita (anteriormente left) */
    z-index: 1000; /* Garante que a Logo fique na frente do cabeçalho */
}

.Logo img {
    max-width: 250px; /* Define um tamanho máximo para a logo */
    height: auto; /* Mantém a proporção da imagem */
}

.back-button {
    background-color: transparent;
    color: black; /* Cor do texto */
    border: none; /* Remove bordas */
    padding: 10px 20px; /* Espessura do botão */
    text-align: center; /* Alinha o texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block;
    font-size: 280%; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    left: 10%; /* Distância da esquerda (anteriormente right) */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    z-index: 1100; /* Garante que o botão fique sobre outros conteúdos */
}

#ScrollTopButton {
    position: fixed;
    background-color: rgb(14, 229, 14);
    width: 60px;
    height: 60px;
    padding: 8px;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: bottom 200ms, transform 200ms;
    cursor: pointer;
    text-decoration: none;
}

#ScrollTopButton:hover {
    bottom: 35px;
}

#ScrollTopButton span {
    transition: 0.2s ease-out;
    color: black;
    font-size: 3rem;
}

#ScrollTopButton:hover span {
    transform: translateY(-4px);
}

.niveis {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 200vh; /* Ajusta a altura para preencher a viewport */
    display: flex;
    flex-direction: column;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false; 
}

.animacao1 {
    top: -130%;
}

.animacao2 {
    top: 134%;
}

.animacao3 {
    top: 328%;
}

.animacao1, 
.animacao2, 
.animacao3 {
    height: 100%;
    max-height: 100px;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    border-radius: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.animacao1:before,
.animacao2:before, 
.animacao3:before {
    content: "";
    background-image: conic-gradient(from var(--angle), transparent 0%, rgb(19, 174, 19));
    width: 150%; 
    height: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: 3s spin linear infinite;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.animacao1:after {
    content: "BÁSICOS";
    height: 80%;
    width: 97.5%;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    top: 10%;
    left: 1.25%;
    display: grid;
    place-items: center;
    font-size: 3em;
    letter-spacing: 6px;
    color: black;
}

.animacao2:after {
    content: "INTERMEDIÁRIOS";
    height: 80%;
    width: 97.5%;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    top: 10%;
    left: 1.25%;
    display: grid;
    place-items: center;
    font-size: 3em;
    letter-spacing: 6px;
    color: black;
}

.animacao3:after {
    content: "AVANÇADOS";
    height: 80%;
    width: 97.5%;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    top: 10%;
    left: 1.25%;
    display: grid;
    place-items: center;
    font-size: 3em;
    letter-spacing: 6px;
    color: black;
}

.division {
    display: flex;
    width: 76%;
    max-width: 76%;
    height: 50%;
    justify-content: space-evenly; /* Distribui o vídeo e o texto */
    align-items: center; /* Alinha verticalmente */
    margin-top: -8%;
}

.video {
    width: 25vw;
    max-width: 25vw;
    height: 50%;
    border-radius: 50px;
    margin-right: -5%;
    margin-left: 5%;
    padding: 0;
}

.texto {
    border-radius: 70px;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5em;
    transition: 0.5s;
    width: 50%; /* Aumente este valor para expandir a largura */
    max-width: 50%; /* Ajuste também a largura máxima */
    box-sizing: border-box;
    padding: 3%;
    cursor: pointer;
}

.texto:hover {
    letter-spacing: 0.15em;
    background-color: rgb(169, 232, 169);
    box-shadow: 0 0 35px rgb(14, 229, 14);
    max-height: 150vw;
}

.categorias,
.categorias2,
.categorias3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center; /* Alinha verticalmente */
}

.categorias, .categorias2 {
    margin-bottom: 25%;
}

.page{
    display: none;
}

.page.active{
    display: block;
}

.imagens{
    transform: scale(0.5); /* Equal to scaleX(0.7) scaleY(0.7) */
}

