/* Garante que o body e html ocupem toda a altura e largura da viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*******************************************************************************************************
                                                cabeçalho
*******************************************************************************************************/

.cabecalho {
position: relative;
text-align: center;
}

.titulo-wrapper {
position: absolute;
top: 15%;
left: 50%;
transform: translateX(-50%);
}

.titulo {
font-size: 4vw;
text-align: center;
margin: 0;
font-family: 'Bebas Neue', sans-serif;
color: #000;
letter-spacing: 0.10em;
transition: transform 0.5s, letter-spacing 0.5s; 
}

.titulo:hover{
transform: scale(1.05); 
letter-spacing: 0.15em;
}

.back-button {
background-color: transparent;
color: black; 
border: none; 
padding: 10px 20px; 
text-align: center; 
text-decoration: none; 
display: inline-block;
font-size: 280%; 
font-family: "Bebas Neue", sans-serif;
position: absolute;
left: 10%; 
cursor: pointer; 
z-index: 1100; 
top: 10%;
transition: transform 0.3s;
}

.back-button:hover {
transform: scale(1.1);
}

.Logo {
position: absolute; 
top: 15%; 
right: 5%; 
z-index: 1000; 
transition: transform 0.3s;
}

.Logo:hover {
transform: scale(1.1);
}

.Logo img {
width: 15vw; 
max-width: 80vw; 
height: auto; 
}

@media (max-width: 768px) {
.titulo {
  font-size: 7vw; 
  margin-top: 5%;
}

.back-button{
  font-size: 7vw; 
  top: 4.5vw;
  left: 5%;
  height: 20%;
  transform: scale(0.6);
}

.Logo {
  top: 19.5%;
  right: 3%;
}
  
.Logo img {
  width: 25vw; 
}

.back-button{
  left: 0%;
}
}

 
/*******************************************************************************************************
                                                lista de componentes
*******************************************************************************************************/  
.imgs {
margin-top: 5%;
}

.videos {
display: flex; 
justify-content: center; 
align-items: center; 
height: 100%;
margin-top: 5%;
}

.videos video {
border-radius: 50px;
}

.row {
align-items: center;
margin-top: 10%;
}

a.btn-link {
text-decoration: none !important;
}


.animacao-titulo {
background: rgb(241, 242, 248);
border-radius: 70px;
border: none;
text-align: center;
color: rgb(0, 0, 0);
font-family: "Bebas Neue", sans-serif;
font-size: 10em;
transition: 0.5s;
box-sizing: border-box;
padding: 2vw 2vw;
}

.animacao-titulo:hover {
letter-spacing: 0.03em;
background-color: rgb(169, 232, 169);
box-shadow: 0 0 35px rgb(14, 229, 14);
max-height: 100vw;
}

@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false; 
}

#ColBasicos {
top: -5vh;
}

#ColBasicos, 
#ColIntermediarios, 
#ColAvançados {
height: 16vh;
overflow: hidden;
border-radius: 70px;
background-image: conic-gradient(from var(--angle), transparent 0%, rgb(19, 174, 19));
animation: 2s spin linear infinite;
}

@keyframes spin{
from{
    --angle: 0deg;
}
to{
    --angle: 360deg;
}
}

#ColBasicos:after,
#ColIntermediarios:after, 
#ColAvançados:after{
margin-top: 1.5vh;
transform: translateX(-0.5%);
height: 80%;
width: 101%;
background-color: white;
border-radius: 150px;
display: grid;
place-items: center;
font-size: 7vh;
font-family: "Bebas Neue", sans-serif;
letter-spacing: 0.15vw;
color: black;
}

#ColBasicos:after {
content: "BÁSICOS";
}

#ColIntermediarios:after {
content: "INTERMEDIÁRIOS";
}

#ColAvançados:after {
content: "AVANÇADOS";
}

@media (max-width: 768px) {
.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animacao-titulo h2{
  font-size: 7vw;
  padding: 4vw 10vw;
  max-width: 100vw;
  margin-top: 2%;
}

.animacao-titulo{
  margin-bottom: 10%;
}
}  

@media (max-width: 500px) {
#ColBasicos{
  height: 9vh;
}

#ColBasicos::after{
  font-size: 4vh;
  margin-top: 0.9vh;
  width: 103%;
  transform: translateX(-1.5%);
}

#ColIntermediarios{
  height: 9vh;
}

#ColIntermediarios:after{
  font-size: 4vh;
  margin-top: 0.9vh;
  width: 103%;
  transform: translateX(-1.5%);
}

#ColAvançados{
  height: 9vh;
}
  
#ColAvançados:after{
  font-size: 4vh;
  margin-top: 0.9vh;
  width: 103%;
  transform: translateX(-1.5%);
}
}

#ScrollTopButton {
position: fixed;
background-color: rgb(14, 229, 14);
width: 60px;
height: 60px;
padding: 8px;
bottom: 30px;
right: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
z-index: 999;
transition: bottom 200ms, transform 200ms;
cursor: pointer;
text-decoration: none;
}

#ScrollTopButton:hover {
bottom: 35px;
}

#ScrollTopButton span {
transition: 0.2s ease-out;
color: black;
font-size: 3rem;
}

#ScrollTopButton:hover span {
transform: translateY(-4px);
}  

/*******************************************************************************************************
                                                  Rodapé
*******************************************************************************************************/
#bottom {
  position: relative;
  height: 100px;
  width: 100%;
}

.FundoFooter {
  z-index: 1;
}

#apoio, #livros1, #livros2, #livros3 {
  position: absolute;
  width: 100%;
  z-index: 2; /* Para garantir que os textos fiquem sobre a imagem */
}



.apoio, .livros1, .livros2, .livros3 {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  text-align: center;
  transition: transform 0.3s;
}

.apoio {
  font-size: 2vw;
}

.apoio:hover,
.livros1:hover,
.livros2:hover,
.livros3:hover {
transform: scale(1.1);
}

.livros1, .livros2, .livros3 {
  font-size: 1.5vw;
}

@media (max-width: 2600px) {
  #apoio {
    top: 90%; /* Ajuste conforme necessário */
  }
  
  #livros1 {
    top: 10vw; /* Ajuste conforme necessário */
  }
  
  #livros2 {
    top: 12vw; /* Ajuste conforme necessário */
  }
  
  #livros3 {
    top: 14vw; /* Ajuste conforme necessário */
  }
}

@media (max-width: 1600px) {
  #apoio {
    top: 110%; /* Ajuste conforme necessário */
  }
  
  #livros1 {
    top: 11vw; /* Ajuste conforme necessário */
  }
  
  #livros2 {
    top: 13vw; /* Ajuste conforme necessário */
  }
  
  #livros3 {
    top: 15vw; /* Ajuste conforme necessário */
  }
}

@media (max-width: 500px) {
  #apoio {
    top: 40vw; /* Ajuste para a posição no viewport menor */
  }

  #livros1 {
    top: 55vw; /* Ajuste conforme necessário */
  }

  #livros2 {
    top: 65vw; /* Ajuste conforme necessário */
  }

  #livros3 {
    top: 70vw; /* Ajuste conforme necessário */
  }

  .apoio {
    font-size: 6vw;
  }

  .livros1, .livros2, .livros3 {
    font-size: 4vw;
  }
}

