html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*******************************************************************************************************
                                                  cabeçalho
*******************************************************************************************************/

.fundo-cabecalho{
  position: fixed;
  z-index: 1;
}

.sobre{
  background-color: transparent;
  color: black; 
  border: none; 
  text-align: center; 
  top: 6%;
  text-decoration: none; 
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5vw;
  position: fixed;
  left: 2%;
  cursor: pointer; 
  z-index: 2; 
  letter-spacing: 0.10em;
  transition: 0.5s;
}

.sinal-QuemSomos{
  background-color: transparent;
  color: black; 
  border: none; 
  text-align: center; 
  top: 4%;
  text-decoration: none; 
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  height: 80px;
  position: fixed;
  left: 18%;
  cursor: pointer; 
  z-index: 2; 
  transition: 0.5s;
}

.sinal:hover {
  transform: scale(1.2); 
}

.sobre:hover {
  transform: scale(1.2); 
}

.NomeSite {
  top: 2%; 
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 2;
  font-size: 3.5vw;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #000;
  letter-spacing: 0.10em; 
  transition: transform 0.3s ease-in-out; 
}

.NomeSite:hover {
  transform: translateX(-50%) scale(1.1);
}

.logo {
  width: 15vw;
  max-width: 80vw;
  height: auto;
  top: 5%; 
  right: 5%; 
  z-index: 2; 
  transition: transform 0.3s;
  position: fixed;
}

.logo:hover {
  transform: scale(1.2);
}

#apresentacao {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 7%;
}

#RowApresentacao,
#RowVideoApresentacao {
  display: flex;
  justify-content: center;
}

.enunciado {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3vw;
  color: black;
  box-shadow: 7px 7px 10px #a7d3b4; 
  border-width: 5vw;
  border-style: solid; 
  border-color: green; 
  border-width: 1px 5px 5px 1px; 
  margin-top: 5%;
  transition: transform 0.3s ease-in-out; 
  padding-left: 10%;
  padding-right: 10%;
}

.enunciado:hover {
  transform: scale(1.1);
}

.videoapresentacao {
  height: 25vw;
  border-radius: 50px;
}

.divisoria, .divisoria2 {
  margin-bottom: 15%;
}

.divisoria{
  margin-top: -15%;
}

@media (max-width: 1600px) {
  .fundo-cabecalho img {
    height: 200px;
  }
  .apresentacao{
    margin-top: 15%;
  }
}

@media (max-width: 500px) {
  .fundo-cabecalho{
    margin-top: -3%;
  }
  
  .sobre{
    font-size: 5vw;
    left: 3%;
  }

  .sinal-QuemSomos{
    height: 12vw;
    left: 13%;
    top: 11%;
  }

  .NomeSite {
    font-size: 6.7vw; 
  }
  
  .logo{   
    width: 23vw;
    margin-top: 2%;
  }
    
#apresentacao {
    margin-top: 65%;
  }

.enunciado{
  font-size: 6vw;
}

.sinal-enunciado, 
.sinal-categorias{
  height: 20vw;
}

.videoapresentacao {
    height: 50vw;
}

.divisoria{
  margin-top: -25%;
  margin-bottom: 40%;
}
}

@media (max-width: 400px){
.apresentacao{
  margin-top: 60%;
}

.divisoria{
  margin-bottom: 55%;
}
}

/*******************************************************************************************************
                                                  Categorias
*******************************************************************************************************/


.container-fluid{
  margin-top: -8vw;
  margin-bottom: 12vh;
}

.row{
  padding-bottom: 5vw;
}

.categorias{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4vw;
}

 
.TextoCategoriaConceitos{
  background: rgb(241, 242, 248);
  border-radius: 70px;
  padding: 1vw 5.4vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5vw;
  text-align: center;
  transition: 0.5s;
  margin-left: 2vw;
  max-width: 20vw;
}

.TextoCategoriaUnidades, 
.TextoCategoriaEquipamentos, 
.TextoCategoriaComponentes{
  background: rgb(241, 242, 248);
  border-radius: 70px;
  padding: 1vw 4vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5vw;
  text-align: center;
  transition: 0.5s;
  margin-left: 2vw;
  max-width: 20vw;
}

.TextoCategoriaUnidades:hover, 
.TextoCategoriaEquipamentos:hover, 
.TextoCategoriaComponentes:hover, 
.TextoCategoriaConceitos:hover{
  color: black;
  text-decoration: none;
  letter-spacing: 0.15vw;
  background-color: rgb(169, 232, 169);
  box-shadow: 0 0 35px rgb(14, 229, 14);
}

.VideoCategoria {
  height: 13vw;
  border-radius: 50px;
}

@media (max-width: 500px){
.container-fluid{
  margin-top: -40vw;
  margin-bottom: 10vh;
}

.row{
  padding-bottom: 1vw;
}

.categorias{
  margin-bottom: 10vw;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30vw;
}

.TextoCategoriaUnidades, 
.TextoCategoriaEquipamentos, 
.TextoCategoriaComponentes, 
.TextoCategoriaConceitos{
  background: rgb(241, 242, 248);
  border-radius: 70px;
  padding: 6vw 15vw;
  max-width: 100vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
  font-size: 8vw;
  text-align: center;
  transition: 0.5s;
  }

.TextoCategoriaUnidades:hover, 
.TextoCategoriaEquipamentoshover, 
.TextoCategoriaComponenteshover, 
.TextoCategoriaConceitoshover{
  color: black;
  text-decoration: none;
  letter-spacing: 0.15vw;
  background-color: rgb(169, 232, 169);
  box-shadow: 0 0 35px rgb(14, 229, 14);
  }

.sinal-categorias{
  margin: 5%;
}

.VideoCategoria {
  height: 40vw;
  border-radius: 50px;
  }
}

@media (max-width: 400px){
  .container-fluid{
    margin-top: -50vw;
    margin-bottom: 10vh;
  }
}

/*******************************************************************************************************
                                                  Rodapé
*******************************************************************************************************/
#logos,
#apoio{
  padding-bottom: 0;
}

#ColUfrgs, 
#ColGett{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apoio {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3vw;
  color: black; 
  transition: transform 0.3s ease-in-out;
  margin-bottom: -1.5vw;
}

.logo-gettlibras {
  height: 75px; 
  transition: transform 0.3s ease-in-out; 
}

.logo-ufrgs {
  height: 120px; 
  transition: transform 0.3s ease-in-out; 
}

.logo-ufrgs:hover,
.logo-gettlibras:hover,
.apoio:hover{
  transform: scale(1.2); 
}

@media (max-width: 2600px) {
  #bottom {
    margin-bottom: -30vh;
  }
}

@media (max-width: 1600px) {
  #bottom {
    margin-bottom: -40vh;
  }
}

@media (max-width: 500px){
  #bottom{
    margin-bottom: -40vh;
  }

  .apoio{
    font-size: 8vw;
  }

  .logo-gettlibras{
    height: 40px; 
  }

  .logo-ufrgs{
    height: 70px; 
  }

  .FundoFooter{
    max-height: 300px;
  }
}