/* Garante que o body e html ocupem toda a altura e largura da viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;

  }
  
  .cabecalho {
    position: relative; /* Mantém o contexto para posicionamento absoluto do título */
    text-align: center;
  }
  
  .titulo-wrapper {
    position: absolute;
    top: 15%; /* Ajuste para mover o título mais para cima se necessário */
    left: 50%;
    transform: translateX(-50%); /* Centraliza o título horizontalmente */
  }
  
  .titulo {
    font-size: 4vw;
    text-align: center;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #000;
    letter-spacing: 0.10em; /* Aumenta o espaçamento entre letras */
    transition: transform 0.5s, letter-spacing 0.5s; /* Define a duração da animação */
  
  }
  
  .titulo:hover{
    transform: scale(1.05); /* Aumenta o tamanho do texto ao passar o mouse */
    letter-spacing: 0.15em; /* Aumenta o espaçamento entre letras */
  }
  
  .back-button {
    background-color: transparent;
    color: black; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 280%; 
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    left: 10%; 
    cursor: pointer; 
    z-index: 1100; 
    top: 10%;
    transition: transform 0.3s; /* Transição para o tamanho */
  }
  
  .back-button:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
  }

  #ScrollTopButton {
    position: fixed;
    background-color: rgb(14, 229, 14);
    width: 60px;
    height: 60px;
    padding: 8px;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: bottom 200ms, transform 200ms;
    cursor: pointer;
    text-decoration: none;
}

#ScrollTopButton:hover {
    bottom: 35px;
}

#ScrollTopButton span {
    transition: 0.2s ease-out;
    color: black;
    font-size: 3rem;
}

#ScrollTopButton:hover span {
    transform: translateY(-4px);
}
  
  
  .Logo {
    position: absolute; 
    top: 15%; 
    right: 5%; 
    z-index: 1000; 
    transition: transform 0.3s;
  }
  
  .Logo:hover {
    transform: scale(1.1);
  }
  
  .Logo img {
    width: 15vw; 
    max-width: 80vw; 
    height: auto; 
  }
  
  
  @media (max-width: 768px) {
    .titulo {
        font-size: 7vw; 
    }
  
    .back-button{
      font-size: 7vw; 
      top: 4.5vw;
      left: 5%;
      height: 20%;
      transform: scale(0.6);
    }
  
    .Logo {
      top: 19.5%;
      right: 3%;
    }
    
    .Logo img {
        width: 25vw; 
      }
  }

  
  @media (max-width: 768px) {
    .videos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Ajusta a direção dos itens se necessário */
    }

    .animacao-titulo {
        font-size: 7vw;
        padding: 8vw 15vw;
        max-width: 100vw;
    }
}

/* Estilo geral do contêiner de vídeo */
.videos {
  display: flex; /* Define o contêiner como flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Garante que o contêiner tenha altura suficiente */
  margin-top: 5%;
}

/* Estilo do vídeo */
.videos video {
 border-radius: 50px;
}



.row {
    align-items: center; /* Alinha os itens verticalmente no centro */
    margin-top: 10%;
}

a.btn-link {
  text-decoration: none !important; /* Remove o sublinhado do link */
  
}

/* Estilo da animação-titulo */
.animacao-titulo {
  background: rgb(241, 242, 248);
  border-radius: 70px;
  border: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
  font-size: 10em;
  transition: 0.5s;
  box-sizing: border-box;
  padding: 2vw 2vw;
}

/* Estilo para quando o link é hover */


.animacao-titulo:hover {
  letter-spacing: 0.03em;
  background-color: rgb(169, 232, 169);
  box-shadow: 0 0 35px rgb(14, 229, 14);
  max-height: 100vw;
}



 