html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal, se necessário */
    background-color: rgb(251, 251, 252);
    scroll-behavior: smooth;
}

.fundo-cabecalho {
    background: url('/img/imagem-fundo.png') no-repeat center center;
    background-size: 120% auto; /* Aumenta a largura da imagem para 120% do contêiner */
    background-position: center;
    width: 2000px; 
    height: 300px; /* Mantém a altura do contêiner */
    position: sticky;
    z-index: 2;
    overflow: hidden; 
    margin-top: -5%;
    transform: scaleY(0.5);
    align-items: start;
}

.cabecalho {
    position: sticky;
    top: 5%;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o contêiner */
    z-index: 3; /* Garante que o cabeçalho fique sobre outros conteúdos */
    letter-spacing: 0.25em;
    align-items: center;
}

#ScrollBottomButton {
    background-color: transparent;
    color: black; /* Cor do texto */
    border: none; /* Remove bordas */
    padding: 10px 20px; /* Espessura do botão */
    text-align: center; /* Alinha o texto */
    top: 4%;
    text-decoration: none; /* Remove sublinhado */
    display: inline-block;
    font-size: 280%; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    left: 10%; /* Distância da esquerda (anteriormente right) */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    z-index: 1100; /* Garante que o botão fique sobre outros conteúdos */
    letter-spacing: 0.10em;

}

#ScrollBottomButton:hover {
    bottom: 35px;
}

#ScrollBottomButton span {
    transition: 0.2s ease-out;
    color: black;
    font-size: 3rem;
}

#ScrollBottomButton:hover span {
    transform: translateY(-4px);
}

.nome-site {
    position: absolute;
    margin-top: 0.5%;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontal e verticalmente o texto */
    color: black;
    font-size: 3em; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; /* Garante que o texto esteja centralizado dentro do próprio contêiner */
}

.Logo {
    position: absolute; /* Posiciona o logo em relação ao contêiner pai */
    top: 5%; /* Distância do topo */
    right: 5%; /* Distância da direita (anteriormente left) */
    z-index: 1000; /* Garante que a Logo fique na frente do cabeçalho */
}

.Logo img {
    max-width: 250px; /* Define um tamanho máximo para a logo */
    height: auto; /* Mantém a proporção da imagem */
}
