/* Garante que o body e html ocupem toda a altura e largura da viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .cabecalho {
    position: relative; /* Mantém o contexto para posicionamento absoluto do título */
    text-align: center;
  }
  
  .titulo-wrapper {
    top: 15%; /* Ajuste para mover o título mais para cima se necessário */
    left: 50%;
    transform: translateX(-50%); /* Centraliza o título horizontalmente */
  }
  
  .titulo {
    font-size: 4vw;
    text-align: center;
    position: absolute;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #000;
    letter-spacing: 0.10em; /* Aumenta o espaçamento entre letras */
    transition: transform 0.5s, letter-spacing 0.5s; /* Define a duração da animação */
  
  }
  
  .titulo:hover{
    transform: scale(1.05); /* Aumenta o tamanho do texto ao passar o mouse */
    letter-spacing: 0.15em; /* Aumenta o espaçamento entre letras */
  }

  .Logo {
    top: 15%; 
    right: 5%; 
    z-index: 1000; 
    transition: transform 0.3s;
    position: absolute;
  }
  
  .Logo:hover {
    transform: scale(1.1);
  }
  
  .Logo img {
    width: 15vw; 
    max-width: 80vw; 
    height: auto; 
  }
  
  
  @media (max-width: 768px) {
    .titulo {
        font-size: 10vw; 
    }
  
    .back-button{
      font-size: 7vw; 
      top: 4.5vw;
      left: 5%;
      height: 20%;
      transform: scale(0.6);
    }
  
    .Logo {
      top: 19.5%;
      right: 3%;
    }
    
    .Logo img {
        width: 25vw; 
      }
  }
  @media (max-width: 768px) {
    .txt-conceito {
        font-size: 4vw; 
    }
  .txt-exemplo{
      font-size: 4vw; 
  }
  
    .animacao-titulo h2 {
        font-size: 6vw;
    }
  }
  
  @media (max-width: 768px) {
    
    .video video {
        width: 100%; 
        height: 100%;
    }
  
    .imgs img {
        width: 60%; 
        height: 60%;
  
    }
  }