html, 
body,
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.basicos {
    text-align: center; /* Alinha o texto ao centro dentro do elemento */
    font-size: 3em; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    margin: 10%;
    background-color: white;
    border-radius: 45px;
    padding-top: 0.35%;
}