body {
    display: grid;
    grid-template-columns: auto 0px; 
  }
  .container-top {
    --offset: 100px;
    --fade: 120px;
    
    display: flex;
    width: 60px;
    justify-self: end;
    justify-content: flex-end;
    align-items: flex-end;
    -webkit-mask:linear-gradient(#0000 calc(100vh + var(--offset)),#000 calc(100vh + var(--offset) + var(--fade)));
  }
  
  .top {
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    
    /* visual styling */
    width:100%;
    aspect-ratio:1;
    background:#ff8b24;
    border-radius:10px;
  }
  .top:before {
    content:"";
    position:absolute;
    inset:30%;
    transform:translateY(20%) rotate(-45deg);
    border-top:5px solid #fff;
    border-right:5px solid #fff;
  }
  
  p {
    font-size: 25px;
  }
  
  /* remove the below if you don't want smooth scrolling */
  html,
  body {
    scroll-behavior: smooth;
  }